.vacancyButton {
    margin: 7px 15px;
}

.vacancyButton button {
    background: #e30613;
    color: white;
    box-sizing: border-box;
    border: 1px solid transparent;
    display: inline-block;
    width: auto;
    padding: 0 20px;
    margin: 5px;
    outline: none;
    cursor: pointer;
    border-radius: 4px;
    transition: background .2s linear,color .2s linear,border 1s linear;
    height: 36px;

}

.vacancyButton button:hover {
    box-shadow: 0 0.8em 2em rgba(227, 6, 19, .25);
    transition: all 0.128s ease-in-out;
}