.employerPageContent {
    text-align: center;
    margin: 120px  0 0 0;
}

.employerPageContent h1 {
    font-size: 25px;
    color: #666
}

.employerPageContent__search {
    display: inline-block;
    width: 600px;
}

.submitButton {
    display: inline-block;
    margin-left: 15px;
}
