.employerPageContent {
    text-align: center;
    margin: 150px 0;
}

.employerPageContent__search {
    display: inline-block;
    width: 600px;
}

.submitButton {
    display: inline-block;
    margin-left: 15px;
}