.card {
    /*background-color: #adb0b3;*/
    /*color: white;*/

    display: inline-block;
    text-align: left;
    margin: 10px;

    box-shadow: 0 10px 16px -6px rgba(0,0,0,.08);
    background-color: #fff;
    padding: 30px;
}

.card h4 {
    /*color: white;*/
    position: relative;
    /*opacity: .6;*/
}

.cardItemTitle {
    display: inline-block;
    margin-top: 15px;
    margin-bottom: 0;
    color: #686584;
}

.cardItemTitle h4 {
    margin-bottom: 0;
    color: #676670;
}

.card h4:before {
    content: "";
    background-color: #e30613;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    position: absolute;
    right: inherit;
    top: .5em;
    margin-left: -10px;
}

.cardItemSkill {
    display: inline-block;
}

.CardTag {
    /*background-color: black;*/
    border-bottom: 2px solid #e30613;
    padding-bottom: 3px;
}

.cardLabel {
    color: #e30613;
    font-weight: bold;
    font-size: 13px;
    margin-top: -2px;
    padding-bottom: 10px;
    padding-left: 20px;

    border-bottom: 1px solid #ededed ;
}

.contacts {
    margin-top: 10px;
}